{% extends "layout.html" %}
{% block title %}Image Upload{% endblock %}

{% block content %}
    <br>
    <br>
    <br>
    <p> <a href="{{url_for('create_exhibition', name=name)}}"> Create an Exhibition </a> </p>
    <p><a href=" {{url_for('exhibition', name=name)}}"> My Exhibitions </a></p>
    <p><a href="{{ url_for('upload',name=name) }}">Image Upload</a></p>
    <br>
    <br>
    <br>
    <br>
    <h1> HELLO {{name}}!</h1>
    <h1>{{artist_sess}}</h1>
    <h1>{{artist_port}}</h1>
    <br>
    <br>

    <ul>
    {% for i in range(photos_raw|length) %}
        <li><p>{{photos_raw[i]}} </p> </li>
        <li><img src="data:image/jpeg;base64,{{photos[i]}}" width=200px height=300px /></li>
    {% endfor %}
    </ul>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

{% endblock %}
