{% extends 'layout.html' %}
{% block title%} deneme Page {%endblock %}


{% block content %}
    <br>
    <br>
    <br>
    <br>
    <div id="user_form">

        <form id="user_f" action="", method="post"  >

            <label for="name"> Name= </label>
            <input type="text" id="name" name="name" />

            <label for="surname"> Surname </label>
            <input type="text" id="surname" name="surname" />

            <label for="contact_info"> Contact Info </label>
            <input type="text" id="contact_info" name="surname" />

            <label for="password"> Password </label>
            <input type="text" id="password" name="surname" />
            <input type="submit", value="submit"/>
        </form>

    </div>

{% endblock %}