{% extends "layout.html" %}
{% block title %}Exhibition Main Page{% endblock %}


{% block content %}
<h1> WELCOME TO MY EXHIBINITON</h1>

<div class="row">
    <div class="col-2">
    </div>
    <div class="col-6">
        <p> Exhibition Full Name = {{exhib_inf[1]}}</p>
        <p> START DATE = {{exhib_inf[2]}}</p>
        <p> DURATION = {{exhib_inf[3]}}</p>
    </div>
</div>

<div >
    <form method="post">
        <p><button class="btn btn-danger" type="submit" name="delete_exhibition" value="submit"/> End Exhibition </p>
        <input type="hidden" name="eid" value="{{exhib_inf[0]}}"/>
    </form>
</div>
<br/>
<br/>

<button type="button" id= "user_selection" onclick="func()"> Edit The Exhibition </button>
<br/>
<div id="update_exhibition" >
    <div class="row">
        <div class="col-3">     </div>
        <div class="col-5 ">
        <form method="post">
            <div class="form-row">
              <div class="col">
                  <input class="form-control" type="text" id="exhibition_name" name="exhibition_name" placeholder="Exhibition Name"/>
              </div>
            </div>
            <div class="form-row">
              <div class="col">
                  <input class="form-control" type="text" id="duration" name="duration" placeholder="Duration"/>
              </div>
              <div class="col">
                  <input class="form-control" type="text" id="content_type" name="content_type" placeholder="Content"/>
              </div>
            </div>

            <div class="form-group">
                <label for="lab1">General Information About The Exhibition</label>
                <textarea class="form-control" id="lab1" rows="3" id="exhbit_info" name="exhbit_info"></textarea>
            </div>
            <br>
            <br>
            <p><button class="btn btn-danger" type="submit" name="alter_exhibition" value="submit"/> Update Exhibition Content </p>
            <input type="hidden" name="eid" value="{{exhib_inf[0]}}">
        </form>
        </div>
    </div>
</div>

<br>
<br>
<div class="container">
    <div class="row">
  {% for i in range(photos_raw|length) %}
    {% if loop.index%5 == 0 and loop.index != 0%}
    </div>
    <div class="row">
    {% endif %}
        <div class="col md-4">
          <div class="card shadow-sm">
            <img src="data:image/jpeg;base64,{{photos[i]}}" class=" rounded img-fluid " />
              <p class="card-text"> Photographer Name = {{photos_raw[i][0][3]}}</p>
              <p class="card-text"> Photograph Name = {{photos_raw[i][0][3]}}</p>
              <p class="card-text">Category =  {{photos_raw[i][0][4]}}</p>
              <p class="card-text">Location Infortmation = {{photos_raw[i][0][5]}}</p>
              <p class="card-text">Technical Details = {{photos_raw[i][0][6]}}</p>
          </div>
        </div>
  {% endfor %}
</div>
</div>

{% endblock %}


{% block scripts %}
    <script>
        document.getElementById("update_exhibition").style.display = "none";
        function func(){

            if (document.getElementById("update_exhibition").style.display == "block"){
                document.getElementById("update_exhibition").style.display = "none";
            }else{
                document.getElementById("update_exhibition").style.display = "block";
            }
        }
    </script>
{% endblock %}
