<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>My movies -
        {% block title %}   
       
       
       {% endblock %}
    </title>

    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}"/>
    <link rel="script" href=" {{ url_for('static', filename='jquery-3.5.1.min.js')}}">
    </head>
  <body>

    <header>
      <nav class="navbar navbar-dark  bg-dark">
        <div class="">
          {% if session["flag"]==0 %}
            <a class="nav-item" href="{{ url_for('home_page')}}" > Home Page </a>
            <a class="nav-item" href="{{ url_for('signup_page') }}"> Sign Up </a>
            <a class="nav-item" href="{{ url_for('login_page') }}"> Login </a>
          {% else %}
            <a class="navbar-brand " href="{{ url_for('deneme') }}"> Platform Main Page </a>
            {% if session["type"] == "artist"%}
              <a class="nav-item" href="{{ url_for('artist_page', name=session['occupy_name'] )}}"> My Profile </a>
              <a href=" {{url_for('exhibition', name=session['occupy_name'])}}"> My Exhibitions </a>
            {% else %}
              <a class="nav-item" href="{{ url_for('user_page') }}"> My Profile </a>
            {% endif %}
            <a class="nav-item mr-sm-2" href="{{ url_for('logout_page')}}"> Log Out </a>

          {% endif %}

        </div>
      </nav>
    </header>

  
  
    {% block content %}
    
   
    {% endblock %}

    {% block scripts %}

    {% endblock %}
    <footer>
      <small>Bora Öner Databse Project 2021</small>
    </footer>
  </body>
</html>